* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

  --primary-color: rgb(255, 255, 255);
  --secondary-color: rgb(0, 37, 107);
  --third-color: rgb(1, 60, 170);
  --blue: #274356;
  --btn: #17a2b8;
  --opacity: 0.5;
}

body {
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; */
  font-family: "Montserrat", sans-serif;
  background: var(--primary-color);
}

.banner-wrapper {
  position: relative;
}

.banner {
  width: 100%;
  height: 80vh;
  background: url("../assets/images/desk.jpg") no-repeat center center;
  /* background-image: url("../assets/images/desk.jpg"); */
  background-color: rgba(0, 0, 0, 0.05);
  background-blend-mode: multiply;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  overflow: hidden;
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  justify-content: center;
}

.text {
  width: 60%;
  padding: 2.5em;
  /* background: red; */
  text-align: left;
}

.text h2 {
  color: var(--blue);
  font-size: 2rem;
  font-weight: lighter;
  margin-bottom: 1.5rem;
  width: 100%;
  /* background: red; */
  animation: slide-right 1.2s forwards;
  transform: translateX(-100%);
}

.text .sesenta {
  width: 70%;
  animation: 2s slide-right 1s forwards;
  transform: translateX(-110%);
}

.text .sesenta .tets span {
  display: block;
  color: var(--primary-color);
  background-color: var(--blue);
  font-size: 0.9375rem;
  font-weight: 300;
  width: 100%;
  line-height: 25px;
  padding: 2.5px 5px;
  margin-top: 1rem;
}

/* Animaciones */

@keyframes slide-right {
  to {
    transform: translateX(0);
  }
}
/* Termina Animaciones */

.banner-wrapper .equal {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.5rem;
  font-weight: lighter;
  color: var(--primary-color);
  padding: 0;
  width: 80px;
  height: 80px;
  background: var(--blue);
  bottom: -40px;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 10%;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
}

/* Seccion cursos - Tarjetas */
.titulo-section {
  position: relative;
  color: var(--blue);
  font-weight: 500;
  font-size: 1rem;
  text-align: center;
  margin-top: 100px;
  /* border-bottom: 1px solid rgba(0,0,0,0.03);
  padding-bottom: 20px; */
}

.titulo-section:before {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -10px;
  height: 1px;
  width: 60%; /* or 100px */
  transform: translateX(-50%);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.cursos {
  margin: 35px auto;
  padding: 10px;
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
  justify-content: center;
  /* margin-bottom: 70px; */
}

.boxContent {
  flex: 0 1 35%;
  padding: 15px;
  margin: 10px 10px;
  background: #fff;
}

.boxContent .texto {
  display: flex;
  flex-flow: column wrap;
}

.boxContent .texto h2 {
  color: var(--blue);
  font-size: 1em;
  font-weight: bold;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.boxContent .texto p {
  color: var(--blue);
  font-weight: normal;
  margin-bottom: 5px;
  line-height: 20px;
  margin-bottom: 14px;
  margin-top: 5px;
  font-weight: 400;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.boxContent .texto .grupo {
  color: var(--blue);
  font-weight: 500;
  font-size: 1.25rem;
  font-family: "Montserrat", sans-serif;
}

.boxContent .texto .nuevo {
  color: #fff;
  background: rgba(0, 128, 0, 0.739);
  padding: 5px 10px;
  font-weight: bold;
  margin-bottom: 0.8rem;
}

.boxContent .texto .enproceso {
  color: #fff;
  background: rgba(230, 97, 9, 0.739);
  padding: 5px 10px;
  font-weight: bold;
  margin-bottom: 0.8rem;
}

.boxContent .texto .pendiente {
  color: #fff;
  background: rgba(255, 0, 0, 0.692);
  padding: 5px 10px;
  font-weight: bold;
  margin-bottom: 0.8rem;
}

.boxContent .texto .terminado {
  color: #fff;
  background: var(--blue);
  padding: 6.5px 10px;
  font-weight: bold;
}

.boxContent .texto .btnDiploma {
  font-size: 17px;
  color: var(--btn);
  border: 1px solid var(--btn);
  border-radius: 5%;
  transition: 200ms ease-in-out;
  font-weight: 400;
  padding: 5px;
  /* margin-bottom: .8rem; */
}
.boxContent .texto .btnDiploma:hover {
  cursor: pointer;
  background: var(--btn);
  color: white;
}

.tituloo {
  color: var(--blue);
  font-size: 1.25rem;
  font-weight: 500;
}

.blanco {
  padding: 0.75rem 24px;
  border-left: 1px solid rgba(0, 0, 0, 0.1);
  border-right: 1px solid rgba(0, 0, 0, 0.1);
}

.cursoo,
.statuss {
  padding: 0.75rem 1.5rem;
  background-color: rgba(0, 0, 0, 0.03);
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.1);
}
.statuss {
  padding: 1rem 1.5rem;
}
.status-t {
  margin-bottom: 0.5rem;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 500;
  color: var(--blue);
}

/*Empieza footer*/
.footer {
  background: var(--blue);
  width: 100%;
  position: relative;
  padding-top: 10rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer .abajo {
  position: absolute;
  bottom: 0;
  color: #fff;
  width: 90%;
  margin: 0 auto;
  text-align: right;
  padding-bottom: 15px;
}

.footer .abajo .texto-footer {
  margin: 10px 0;
}
